<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>中英文企业管理软件_中英文版批发软件_中英文连锁管理软件-秘亚中英文软件</title>
    <meta name="keywords" content="中英文跨国管理软件,中英文跨国管理系统,中英文连锁软件,中英文零售管理软件" />
    <meta name="description" content="秘亚中英文软件国内领先中英文企业管理软件，中英文零售软件，拥有10年的进销存软件开发经验，上万家中小企业的成功案例。适合中小型企业的仓库管理、库存、批发管理、零售管理等。" />
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">
    <!--动画引入 -->
    <link rel="stylesheet" href="css/aos.css" />
    <!--因为IE8既不支持HTML5也不支持CSS3 Media，所以我们需要加载两个JS文件，来保证我们的代码实现兼容效果： -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="header">
    <div class="head-top">
        <div class="mybody clearfix">
            <a href="" class="logo"><img src="images/logo.jpg" alt=""></a>
            <div class="ltext">
                <b>专注中英文管理软件15年</b>
                <p>为全球华人专属管理打造</p>
            </div>
            <div class="fr">
                 <div class="language">
                    <a href="/">中文</a>
                    <span>|</span>
                    <a href="enindex.html">English</a>
                </div>
                <div class="head-tel">
                    <em class="emico"><img src="images/tel.png" alt=""></em>
                    <div class="telbox pr20">
                        <em>国内24小时热线:</em>
                        <p>400--9908--527</p>
                    </div>
                    <div class="telbox">
                        <em>国外24小时热线:</em>
                        <p>
                            <span>0086-185—6559—7695</span>
                            <span>0086-020-28269517</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="headbox" id="topNav">
        <ul class="head-nav clearfix">
            <li class="drop-menu-effect cur"><a href="/" class="tit">首页</a></li>
            <li class="drop-menu-effect">
                <a href="enfz.html" class="tit">英文系列</a>
                <div class="submenu">
                    <a href="enfz.html">英文服装管理软件</a>
                    <a href="enck.html">英文仓库管理软件</a>
                    <a href="ency.html">英文餐饮管理软件</a>
                    <a href="encs.html">英文超市pos软件</a>
                    <a href="enjxc.html">英文进销存软件</a>
                </div>
            </li>
            <li class="drop-menu-effect">
                <a href="china.html" class="tit">中英文系列</a>
                <div class="submenu">
                    <a href="chinafz.html">中英文服装管理软件</a>
                    <a href="chinack.html">中英文仓库管理软件</a>
                    <a href="chinacy.html">中英文餐饮管理软件</a>
                    <a href="chinacs.html">中英文超市pos软件</a>
                    <a href="chinajxc.html">中英文进销存软件</a>
                </div>
            </li>
            <li class="drop-menu-effect">
                <a href="ftxl.html" class="tit">繁体系列</a>
            </li>
            <li class="drop-menu-effect">
                <a href="othergc.html" class="tit">其他软件</a>
                <div class="submenu">
                    <a href="othergc.html">工厂ERP管理软件</a>
                    <a href="otherck.html">仓库管理软件</a>
                    <a href="otherjxc.html">进销存管理软件</a>
                    <a href="othercs.html">超市pos管理软件</a>
                    <a href="othersc.html">石材行业管理软件</a>
                </div>
            </li>
            <li class="drop-menu-effect">
                <a href="case.html" class="tit">成功案例</a>
            </li>
            <li class="drop-menu-effect">
                <a href="down.html" class="tit">下载试用</a>
            </li>
            <li class="drop-menu-effect">
                <a href="about.html" class="tit">关于我们</a>
            </li>
            <li class="drop-menu-effect">
                <a href="contact.html" class="tit">联系我们</a>
            </li>
        </ul>
    </div>
</div>
<div class="flexslider">
    <ul class="slides">
        <li style="background:url('images/banner02.jpg') no-repeat center;"></li>
        <li style="background:url('images/banner01.jpg') no-repeat center;"></li>
        <li style="background:url('images/banner02.jpg') no-repeat center;"></li>
    </ul>
</div>
<div class="inx-group01">
    <div class="mybody">
        <h3 class="htitel" data-aos="fade-up" data-aos-anchor-placement="top-bottom">专注中英文软件15年！国家认定高新技术企业，国内最专业服装行业软件！</h3>
        <div class="btn-box" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
            <a href="about.html">
                <em><img src="images/btnico.png" alt=""></em>
                <span>了解更多</span>
            </a>
        </div>
    </div>
</div>
<div class="inxtitle" data-aos="flip-right" data-aos-anchor-placement="top-bottom">国外客户<b>35521</b>个国内<span>英文客户<b>12878</b>个</span></div>
<div class="inx-kehulist clearfix">
    <ul>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh01.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh02.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh03.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh04.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh05.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh06.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh07.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh08.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh09.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh10.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh11.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh12.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh13.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh14.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh15.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh16.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh17.jpg" alt=""></div>
        </li>
        <li data-aos="flip-left" data-aos-delay="100" data-aos-anchor-placement="top-bottom">
            <div class="box"><img src="images/kh18.jpg" alt=""></div>
        </li>
    </ul>
</div>
<a href="case.html" class="morebtn" data-aos="fade-up" data-aos-anchor-placement="top-bottom">点击更多<span class="img"><img src="images/more.png" alt=""></span></a>
<div class="tabmenubox">   
    <div class="tabmenu clearfix">
        <a data-aos="fade-up" data-aos-delay="100" data-aos-anchor-placement="top-bottom" class="cur">公司动态<span>/</span></a>
        <a data-aos="fade-up" data-aos-delay="200" data-aos-anchor-placement="top-bottom">行业新闻</a>
    </div>
</div>
<div class="tab_box">

    <div class="inxnewlist clearfix">
            <ul class="list companyNews" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
    <li class="item">
                    <a href="News/8/10.html"><span>2019-9-30</span>秘奥软件2019国庆放假安排通知</a>
                </li>
    <li class="item">
                    <a href="News/8/9.html"><span>2019-9-06</span>2019年秘奥软件中秋放假通知</a>
                </li>
    <li class="item">
                    <a href="News/8/8.html"><span>2019-1-20</span>2019年秘奥软件春节放假通知</a>
                </li>
    <li class="item">
                    <a href="News/8/7.html"><span>2018-12-29</span>秘奥软件2019年元旦放假通知</a>
                </li>
    <li class="item">
                    <a href="News/8/6.html"><span>2018-9-26</span>2018年秘奥软件中秋国庆放假通知</a>
                </li>
    <li class="item">
                    <a href="News/8/5.html"><span>2018-8-15</span>热烈庆祝秘奥软件科技有限公司成立11周年</a>
                </li>
    <li class="item">
                    <a href="News/8/4.html"><span>2018-7-06</span>秘奥软件荣获“广东省守合同重信用企业”称号</a>
                </li>
    <li class="item">
                    <a href="News/8/3.html"><span>2018-2-14</span>2018年秘奥软件红红火火，开工大吉</a>
                </li>
    <li class="item">
                    <a href="News/8/2.html"><span>2018-1-26</span>关于秘奥软件2018年春节放假通知</a>
                </li>
    <li class="item">
                    <a href="News/8/1.html"><span>2018-1-01</span>秘奥软件携手收钱吧，完美对接移动支付</a>
                </li>
    
    
                
                
                
                
                
                
                
                
                
                
            </ul>
	</div>
    <div class="inxnewlist hide clearfix">        
            <ul class="list industryNews" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
    <li class="item">
                    <a href="News/88/11.html"><span>2019-8-15</span>网购的服装管理软件靠谱吗</a>
                </li>
    <li class="item">
                    <a href="News/88/10.html"><span>2019-7-16</span>使用服装店管理软件让管理变得更轻松</a>
                </li>
    <li class="item">
                    <a href="News/88/9.html"><span>2019-6-16</span>如何提高服装店回头率</a>
                </li>
    <li class="item">
                    <a href="News/88/8.html"><span>2019-5-14</span>服装制造行业实施ERP已成必然趋势</a>
                </li>
    <li class="item">
                    <a href="News/88/7.html"><span>2019-4-06</span>ERP成功实施因素分析</a>
                </li>
    <li class="item">
                    <a href="News/88/6.html"><span>2019-3-20</span>ERP系统适合小企业吗？</a>
                </li>
    <li class="item">
                    <a href="News/88/5.html"><span>2019-2-1</span>服装ERP实施全程培训管理体系</a>
                </li>
    <li class="item">
                    <a href="News/88/4.html"><span>2018-12-06</span>服装企业要转型，企业管理如何突破？</a>
                </li>
    <li class="item">
                    <a href="News/88/3.html"><span>2018-11-06</span>服装行业的ERP管理解决方案</a>
                </li>
    <li class="item">
                    <a href="News/88/2.html"><span>2018-10-08</span>服装行业经营现状分析</a>
                </li>
    
    
    
    
                
                
                
                
                
                
                
                
                
                
            </ul>
	</div>
</div>
<div class="footer">
  
		
    <div class="foot-main">
        <p>地址：广州市天河区中山大道中东圃一横路13号汇宝商业中心4A014-4A015<span>联系电话：400-9908-527<span>020-28269517</span></span><span>传真：020-28269547</span></p>
        <p>©版权所有 广州秘奥软件科技有限公司 粤ICP备12032918号-1</p>
    </div>
</div>
  <div >
            <b>友情链接：</b>
          
			 <a href="http://www.misall.com/">服装管理软件</a>
          		
			<a href="https://www.gezila.com">格子啦</a>
			<a href="http://www.greenxf.com">绿色先锋下载 </a>
			
			<a href="http://www.downxia.com">当下软件 </a>
			<a href="http://www.dijiu.com">第九软件网 </a>
			<a href="http://www.xiazaizhijia.com/" target="_blank">下载之家</a>
			<a href="http://www.pcsoft.com.cn/ " target="_blank">PC下载网</a>
	 
			<a href="http://www.crsky.com/" target="_blank">非凡软件下载 </a>
			<a href="http://www.downza.cn/" target="_blank">下载之家</a>
	 
			<a href="http://www.huacolor.com" target="_blank">华彩软件下载站</a>

			<a href="http://mydown.yesky.com/" target="_blank">天极网站</a>
			
			<a href="http://www.121down.com/" target="_blank">121下载站</a>
			
			
			
			

        </div>
<script  src="js/jquery.min.js"></script>
<script  src="js/jquery.flexslider-min.js"></script>
<script  src="js/Slide.js"></script>
<script  src="js/nav.js"></script>
<script  src="js/aos.js"></script>
<script>
    /*配置动画*/
    var isIE = '\v' == 'v';
    if (isIE) {
        console.log(isIE)
    } else {
        AOS.init({
            offset: 400,
            duration: 600,
            easing: 'ease-in-out-quart',
            once: true
        });
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        var $tab_li = $('.tabmenu a');
        $tab_li.click(function(){
            $(this).addClass('cur').siblings().removeClass('cur');
            var index = $tab_li.index(this);
            $('div.tab_box .inxnewlist').eq(index).show().siblings().hide();
        });
    });
</script>
<script>
    $('.inx-kehulist li:nth-child(6n) .box').css('border-right', 'none');
    $('.inxnewlist div:nth-child(2n)').css('float', 'right');
</script>
<script>
    $(window).scroll(function(e) {
        s = $(document).scrollTop();
        if (s > 200) {
            $('#topNav').css({
                'position': 'fixed',
                'left':0,
                'top':0,

            });
        } else {
            $('#topNav').css({
                'position': ''
            });
        }
    })
</script>
<script>(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/10145630/3";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?077f7101d84867747b3d8892da679fca";
  var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
<SCRIPT LANGUAGE="JavaScript" src=http://float2006.tq.cn/floatcard?adminid=9542312&sort=0 ></SCRIPT>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128738419-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128738419-1');
</script>
</body>
</html>
